
/build
/.cache
 
/mpc
/projects
/app/ros_package
/app/cpp_code/.cache
/app/cpp_code/build
/app/cpp_code/results/__pycache__
/app/cpp_code/results/accepted
/app/cpp_code/results/data
/app/lib/mpc_ampl/examples/.cache
/app/lib/mpc_cg2o/.cache
/app/ros_ws/build
/app/ros_ws/data
/app/ros_ws/install
/app/ros_ws/log
/cpp_code/results/data
/cpp_code
/app/cpp_code/build_local
/app/ros_ws/.cache
/app/ros_ws/packages/mpc_g2o/lib/mpc_cg2o
/app/ros_ws/packages/mpc_g2o
/app/cpp_code/.vscode
/app/ros_ws/.vscode
/app/ros_ws/.vscode
/app/ros_ws/svd_linear_debug
/app/ros_ws/umfpack_linear_debug
/app/cpp_code/install
/app/ros_ws
/.vscode
/app/lib/data_saver/__pycache__
